@charset "UTF-8";

html, body {
 width: 100% !important;
 height: 100%;
 font-family:'Roboto',Helvetica,Arial,san-serif;
 -webkit-text-size-adjust: 100%;
 -ms-text-size-adjust: 100%;
 margin: 0;
}

h1, h2, h3, h4, h5, h6, p, small, li, blockquote, a, button, span, div, label, input, select, textarea, option {
  font-family:'Roboto',Helvetica,Arial,san-serif;
  font-weight: 300;
  color: rgb(0,0,0);
}

img {
  max-width: initial !important;
}

object {
  max-height: 7.5rem;
}

.ie-display-none {
  display: none;
}

.hidden {
  display: none !important;
}

.sub-heading {
  font-family: din-condensed, 'Roboto Condensed', 'Roboto',Helvetica,Arial,san-serif !important;
  font-weight: 300;
}

.thin-heading {
  font-family: 'Roboto Condensed', 'Roboto',Helvetica,Arial,san-serif !important;
  font-weight: 600;
}

.extra-large-heading {
  font-size: 4.2rem;
}

.large-heading {
  font-size: 3.6rem;
}

.medium-heading {
  font-size: 2.64rem;
}

.small-heading {
  font-size: 57%;
}

.heading {
  font-weight: 300 !important;
  font-size: 1.25rem;
}

a {
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

a, a:hover, a:focus {
  color: rgb(114,191,219);
}

a:hover {
  text-decoration: none !important;
}

a:hover img {
  opacity: 0.66;
}

strong, .bold {
  font-weight: 700 !important;
}

.caps {
  text-transform: uppercase;
}

.thin {
  font-weight: 200 !important;
}

.more-line-height {
  line-height: 1.5;
}

.height-x-large {
  min-height: 99vh;
}

.height-large {
  min-height: 75vh;
}

.height-medium {
  min-height: 50vh;
}

.height-small {
  min-height: 25vh;
}

.width-full {
  width: 100%;
  overflow: auto;
}

.width-three-quarters {
  width: 75%;
  overflow: auto;
}

.width-half {
  width: 50%;
  overflow: auto;
}

.width-quarter {
  width: 25%;
  overflow: auto;
}

.height-full {
  height: 100%;
  overflow: auto;
}

.height-three-quarters {
  height: 75%;
  overflow: auto;
}

.height-half {
  height: 50%;
  overflow: auto;
}

.height-quarter {
  height: 25%;
  overflow: auto;
}

.flex-align-center {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  justify-content: space-evenly !important;
}

.justify-content-center {
  justify-content: center;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.pill-container {
  width: 50% !important;
  position: relative;
  top: -75px;
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
}
.pill {
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
}
.zindex100 {
  z-index: 100
}
.zindex50 {
  z-index: 50;
}
.zindex25 {
  z-index: 25;
}

.margin-auto {
  display: block;
  margin: 0 auto;
}

.margin-top {
  margin-top: 2.76rem;
}

.margin-right {
  margin-right: 2.76rem;
}

.margin-bottom {
  margin-bottom: 2.76rem;
}

.margin-left {
  margin-left: 2.76rem;
}

.no-margin {
  margin: 0 0 !important;
}

.padding {
  padding: 3.75rem;
}

.padding-sm {
  padding: 1.65rem;
}

.padding-sm-top {
  padding-top: 1.65rem;
}

.padding-sm-right {
  padding-right: 1.65rem;
}

.padding-sm-bottom {
  padding-bottom: 1.65rem;
}

.padding-sm-left {
  padding-left: 1.65rem;
}

.padding-top {
  padding-top: 3.75rem;
}

.padding-right {
  padding-right: 3.75rem;
}

.padding-bottom {
  padding-bottom: 3.75rem;
}

.padding-left {
  padding-left: 3.75rem;
}

.no-padding {
  padding: 0 0 !important;
}

.teq-blue-text {
  color: rgb(0,180,228) !important;
}

.pd-blue-text {
  color: rgb(114,191,219) !important;
}

.royal-blue-text {
  color: rgb(0,102,179) !important;
}

.dark-blue-text {
  color: rgb(0,43,84) !important;
}

.blue-text {
  color: rgb(64,85,117) !important;
}

.smart-skills-blue-text {
  color: rgb(131,147,202) !important;
}

.light-blue-text {
  color: rgb(114,191,219) !important;
}

.pink-text {
  color: rgb(227,128,177) !important;
}

.yellow-text {
  color: rgb(243,217,81) !important;
}

.green-text {
  color: rgb(204,239,157) !important;
}

.white-text {
  color: white !important;
}

.black-text {
  color: black !important;
}

.light-grey-text {
  color: rgb(230,226,231) !important;
}

.grey-text {
  color: rgb(200,200,200) !important;
}

.orange-text {
  color: rgb(255,168,0) !important;
}

.red-text {
  font-weight: 700 !important;
  color: rgb(255,54,0) !important;
}

.main-red-text {
  font-weight: 400 !important;
  color: #de0069 !important;
}

.carousel-gradient-background {
  background-image: linear-gradient(to right, rgba(244,230,154,1), rgba(236,239,238,1));
}

.light-yellow-bg {
  background-color: rgb(244,230,154);
}

.light-grey-bg {
 background-color: rgb(236,239,238);
}

.black-bg {
 background-color: rgb(0,0,0);
}

.pd-blue-bg {
 background-color: rgb(114,191,219);
}

.white-bg {
 background-color: rgb(255,255,255);
}

.yellow-bg {
 background-color: rgb(243,217,81);
}

.light-blue-bg {
  background-color: rgb(224,241,247);
}

.translucent-bg {
  background-color: rgba(255,255,255,.21);
}

.main-bg {
  background: rgba(0,0,0,.81);
  background: linear-gradient(0deg, rgba(0,0,0,.66) 0%, rgba(51,51,51,.66) 100%);
}

.main-red-bg {
  background: rgb(253,83,146);
  background: linear-gradient(0deg, rgba(253,83,146,1) 0%, rgba(255,138,129,1) 100%);
}

.main-blue-transparent-bg {
  background: rgb(83,167,253);
  background: linear-gradient(0deg, rgba(83,167,253,0) 70%, rgba(83,167,253,1) 100%);
}

.main-blue-main-teal-bg {
  background: rgb(169,254,245);
  background: linear-gradient(0deg, rgba(169,254,245,1) 0%, rgba(169,211,254,1) 100%);
}

.main-yellow-transparent-bg {
  background: rgb(83,167,253);
  background: linear-gradient(0deg, rgba(241,250,96,0) 50%, rgba(241,250,96,1) 100%);
}

.light-grey-fill {
 fill: rgb(236,239,238);
}

.pd-blue-fill {
 fill: rgb(114,191,219);
}

.white-fill {
 fill: rgb(255,255,255);
}

.yellow-fill {
 fill: rgb(243,217,81);
}

.teal-fill {
  fill: rgb(168,220,182);
}

.pink-fill {
  fill: rgb(227,128,177);
}

.lavender-fill {
  fill: rgb(204,211,233);
}

.light-blue-fill {
  fill: rgb(224,241,247);
}

.blue-fill {
  fill: rgb(75,101,175);
}

.green-fill {
  fill: rgb(169, 224, 140);
}

.opacity-quarter {
  opacity: .25;
}

.opacity-half {
  opacity: .5;
}

.opacity-none {
  opacity: 0;
}

.dropshadow {
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.24);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.24);
}

.button {
  display: inline-block;
  margin-top: 18px;
  padding: .75rem 2.52rem;
  border-radius: 0;
  text-align: center;
  font-family: din-condensed, 'Roboto Condensed', 'Roboto',Helvetica,Arial,san-serif !important;
  font-size: 2.25rem;
  font-weight: 600;
  cursor: pointer !important;
}

.button.simple-text {
  font-family: 'Roboto',Helvetica,Arial,san-serif !important;
  font-weight: 400;
}

.button:hover {
  text-decoration: underline !important;
  cursor: pointer !important;
}

.button.block {
  width: 100%;
  display: block;
}

.button.medium-button {
  padding: .75rem 1.5rem;
  font-size: 1rem;
}

.button.small-button {
  padding: .66rem 2.37rem .5rem 2.37rem;
  line-height: 120%;
  font-size: inherit;
}

.button.round {
  border-radius: 9px;
}

p .button {
  margin-top: .87rem;
}

.button.transparent {
  background: transparent;
}

.button.pd-blue-button {
  background-color: rgb(114,191,219);
  color: rgb(255,255,255);
}

.button.blue-button {
  background-color: rgb(131,147,202);
  color: rgb(255,255,255);
}

.button.pink-button {
  background-color: rgb(227,128,177);
  color: rgb(255,255,255);
}

.button.light-grey-button {
  background-color: rgb(236,239,238);
  color: rgb(0,0,0);
}

.button.orange-button {
  background-color: rgb(255,168,0);
  color: rgb(255,255,255);
}

.button.yellow-button {
  background-color: rgb(243,217,81);
  color: rgb(0,0,0);
}

.button.green-button {
  background-color: rgb(169,224,140);
  color: rgb(255,255,255);
}

.button.white-button {
  background-color: rgb(255,255,255);
  color: rgb(0,0,0);
  box-shadow: 0 3px 9px 0 rgba(0,0,0,.24);
}

.button.main-red-button {
  background-color: rgb(254,119,135);
  color: rgb(255,255,255);
  box-shadow: 0 3px 9px 0 rgba(194,46,63,.63);
}

.button.main-teal-button {
  background-color: rgb(156,255,210);
  color: rgb(0,0,0);
  box-shadow: 0 3px 9px 0 rgba(0,0,0,.24);
}

.button.main-green-button {
  background-color: rgb(214,252,155);
  color: rgb(0,0,0);
  box-shadow: 0 3px 9px 0 rgba(0,0,0,.24);
}

button.admin-menu {
  height: auto;
  position: absolute;
  top: -1.2%;
  right: 3px;
  z-index: 960;
  padding: 0 0;
  background-color: transparent;
  border: none;
}

button.admin-menu:after {
  content: '\2807';
  font-size: 45px;
  color: rgb(169,224,140);
}

button.admin-menu:hover:after {
  color: rgb(0,0,0);
}

#askOtis {
  position: fixed;
  z-index: 999;
  right: calc(100vw - 101vw);
  top: 14.73%;
  cursor: pointer;
}

.main-content.index-body #askOtis {
  top: 36%;
}

#askOtis object, #askOtis object svg, #askOtis object svg path {
  max-height: 100%;
  width: 7.5rem;
  height: auto;
  cursor: pointer;
}
nav.navbar.otis-navbar {
  background-color: #ffffff;
}
nav.navbar.otis-navbar a.otis-logo, nav.navbar.otis-navbar a.otis-logo img, nav.navbar.otis-navbar a.otis-logo svg {
  height: auto;
  width: calc(300px - 6vw);
  margin-right: 12px;
}

#main-nav li.nav-item a.nav-link {
  margin-right: 5px;
  border-bottom: 3px solid rgb(255,255,255);
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  color: rgb(0,0,0);
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
}

#main-nav li.nav-item a.nav-link:hover {
  border-bottom: 3px solid rgb(114,191,219);
  color: rgb(114,191,219);
}

#main-nav li.nav-item button.user-icon, #main-nav li.nav-item div.dropdown.user-dropdown button.user-dropdown-menu {
  display: inline-block;
  background: none;
  border: none;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#main-nav li.nav-item button.user-icon, #mobile-nav div.dropdown.list-group-item button.user-icon {
  height: 66px;
  width: 66px;
  display: block;
  margin: 0 auto;
  padding: 0 0;
  background-color: rgb(60, 72, 82);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  border-radius: 50%;
  border-radius: 50%;
  text-decoration: none;
}

#main-nav li.nav-item div.dropdown.user-dropdown button.user-dropdown-menu, #main-nav li.nav-item div.dropdown.user-dropdown button.user-dropdown-menu:focus {
  margin: 0;
  padding: .5rem 1rem;
  text-align: center;
  font-weight: 600;
  font-size: calc(1vw - 6.6%);
  color: rgb(0,0,0);
}

#main-nav li.nav-item div.dropdown.user-dropdown button.user-dropdown-menu:hover {
  color: rgb(114,191,219);
}

#main-nav li.nav-item div.dropdown.user-dropdown button.user-dropdown-menu::after, #mobile-nav div.mobile-menu a.user-dropdown-link::after  {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

#main-nav li.nav-item div.dropdown.user-dropdown div.dropdown-menu {
  padding: .5rem 0 0 0;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.12);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.12);
}

#main-nav li.nav-item div.dropdown-menu a.dropdown-item {
  font-weight: 200;
}

#main-nav li.nav-item div.dropdown-menu a.dropdown-item:hover {
  background-color: rgba(79,197,221,0.25);
}

#main-nav li.nav-item div.dropdown-menu a.dropdown-item:last-child {
  margin-top: .5rem;
  padding: .75rem 1.5rem;
  background-color: rgb(79,197,221);
  border-radius: 0 0 .25rem .25rem;
  color: rgb(255,255,255);
}


.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-toggle span.icon-bar {
    transition: all 0.15s;
}

.navbar-toggle span:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggle span:nth-child(3) {
    opacity: 0;
}

.navbar-toggle span:nth-child(4) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggle.collapsed span:nth-child(2),
.navbar-toggle.collapsed span:nth-child(4) {
    transform: rotate(0);
}

.navbar-toggle.collapsed span:nth-child(3) {
    opacity: 1;
}

.mobile-nav-button .bar1, .mobile-nav-button .bar2, .mobile-nav-button .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.mobile-nav-button-active.mobile-nav-button .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.mobile-nav-button-active.mobile-nav-button .bar2 {opacity: 0;}

.mobile-nav-button-active.mobile-nav-button .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

#mobile-nav {
  position: relative;
  z-index: 1000;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.25);
}

#mobile-nav div.mobile-menu {
  border-bottom: 3px solid rgb(236,239,238);
}

#mobile-nav div.mobile-menu a.nav-link {
  padding: 3% 6%;
  border-radius: 0;
  font-size: calc(1vh + 24%);
  color: rgb(0,0,0);
}

#mobile-nav #mobile-user-menu a.nav-link {
  padding-left: 10%;
}

#mobile-nav div.mobile-menu a.nav-link.user-dropdown-link {
  font-size: calc(1vh + 51%);
}

#mobile-nav div.mobile-menu a.nav-link:hover {
  background-color: rgb(79,197,221);
  color: rgb(255,255,255);
}

div#login-window .modal-content.login-container {
  position: relative;
  display: block;
  background-color: transparent !important;
  border: none !important;
}

.login-container .login-section.login-card {
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  margin-top: .75rem;
  border-radius: .51rem;
  background-color: rgb(255,255,255);
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.36);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.36);
}

.login-container .login-section.login-card a img {
  border-radius: .51rem;
}

.login-container .login-section.login-card .login-footer svg {
  margin-top: .24rem;
  border-radius: 0 0 calc(.51rem - 1px) calc(.51rem - 1px);
}

.login-footer svg a:hover {
  opacity: 0.66;
}

.login-container .login-section.login-card .login-form {
  width: 100%;
  padding: 3.75rem 3.75rem .75rem 3.75rem;
}

.login-form .main-login-form > .form-group input {
  width: 100%;
  height: calc(1.5em + .75rem + 9px);
  margin-bottom: .66rem;
  padding: .36rem .51rem;
  border-radius: 0;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid rgb(200,200,200);
  border-left: none;
  font-family: 'Roboto Condensed', 'Roboto',Helvetica,Arial,san-serif !important;
  font-weight: 300;
  font-size: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.login-form .main-login-form button.login, form.registration-form .registration-form-container > .form-group button.submit {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  margin-top: .51rem;
  padding: .75rem;
  background-color: rgb(79,197,221);
  border: none;
  border-radius: 0;
  text-align: center;
  font-family: din-condensed, 'Roboto Condensed', 'Roboto',Helvetica,Arial,san-serif !important;
  font-weight: 400;
  font-size: 1.14rem;
  color: rgb(255,255,255);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.24);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.24);
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.login-form .main-login-form button.login:hover, form.registration-form .registration-form-container > .form-group button.submit:hover {
  background-color: rgb(243,217,81);
  color: rgb(0,0,0);
}

#convince-your-admin {
  position: fixed;
  z-index: 999;
  top: 14.73%;
  right: 0;
  cursor: pointer;
}

#convince-your-admin img {
  max-height: 100%;
  width: auto;
  height: auto;
}

#convince-your-admin div.content-container {
  width: 18rem;
  padding: 0 15px;
}

.container-fluid.user-registration {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}

.container-fluid.user-registration.group-code {
  background-image: url('../images/group-code-registration-bg.jpg');
}

.container-fluid.user-registration.basic {
  background-image: url('../images/basic-user-registration-bg.jpg');
}

.container-fluid.user-registration.individual {
  background-image: url('../images/individual-license-registration-bg.jpg');
}

.col.user-registration {
  margin: 1.5rem 18%;
}

.col.user-registration form.registration-form .registration-form-container {
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  margin-bottom: 1.2rem;
  padding: 9%;
  background-color: rgb(255,255,255);
  border: none;
  border-radius: .51rem;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.12);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.12);
}

.col.user-registration form.registration-form .registration-form-container:last-child {
  margin-bottom: 6rem;
}

form.registration-form .registration-form-container > .form-group input, form.registration-form .registration-form-container > .form-group select {
  width: 100%;
  height: calc(1.5em + .75rem + 9px);
  margin-top: 1.74rem;
  padding: .36rem .51rem;
  border-radius: 3px;
  border: 1px solid rgb(200,200,200);
  font-family: 'Roboto Condensed', 'Roboto',Helvetica,Arial,san-serif !important;
  font-weight: 300;
  font-size: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

form.registration-form .registration-form-container > .form-group select + input {
  margin-top: 0;
  border-top: none;
}

form.registration-form .registration-form-container > .form-group > .form-control.error {
  border-color: rgb(255,54,0);
}
form.registration-form .registration-form-container > .form-group > .col > .form-control.error {
  border-color: rgb(255,54,0);
}
form.registration-form .registration-form-container > .form-group label {
  display: block;
  margin: 0 0 0 .51rem;
}

.registration-form-container > .form-group > .form-check {
  width: 100%;
  margin-bottom: .75rem;
}

.row.form-group > .col {
  padding-right: 15px;
  padding-left: 0;
}

.row.form-group > .col:last-child {
  padding-right: 0;
  padding-left: 0;
}

.registration-form-container > .form-group > .form-check > label.form-check-label input[type="checkbox"] {
  width: auto;
  height: auto;
  margin-top: 6px;
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
}

footer {
  background-color: rgb(236,239,238);
}

footer .footer-content .row {
  padding-top: 3.36rem;
  font-weight: 300;
}

.footer-content .row p {
  font-weight: 300;
}

.footer-content ul.nav li.nav-item {
  width: 15%;
}

.footer-content ul.nav a.nav-icon {
}

.main-content .container-fluid, footer .footer-content {
  padding: 0 7.5%;
}

.main-content.thin-search-bar .container-fluid.course-background .course-search-field {
  padding: 2.64rem 0;
}

.main-content .row {
  width: 100%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.main-content > div.concave:first-of-type {
  padding-bottom: 0;
}
.main-content .concave {
  padding-bottom: 75px;
}

.main-content .concave.main-bg + div.container-fluid {
  padding-bottom: 0;
  background-color: rgb(255,255,255);
}

.main-content .concave > svg {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.main-content .convex {
  padding-top: 75px;
}

.main-content .convex > svg {
  width: 100vw;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.rounded-corners {
  border-radius: 12px;
}

.testimonial-container {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.testimonial-container > .testimonial-content > * {
  text-align: center;
}

.testimonial-container > .testimonial-content::after, .testimonial-container > .testimonial-content::before {
  content: '';
  height: calc(60px - 1vw);
  width: calc(60px - 1vw);
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 570 570'%3E%3Cpath fill='%23F1FA60' d='M436.416,536.783c-3.184,0-6.379-0.759-9.305-2.297L285,459.773l-142.112,74.713 c-6.738,3.543-14.902,2.951-21.062-1.522c-6.159-4.475-9.243-12.059-7.957-19.562l27.141-158.243L26.04,243.09 c-5.451-5.314-7.413-13.262-5.061-20.502s8.611-12.517,16.145-13.612l158.886-23.087l71.056-143.975 c3.369-6.827,10.322-11.148,17.935-11.148c7.613,0,14.565,4.322,17.935,11.148l71.056,143.975l158.886,23.087 c7.533,1.095,13.793,6.372,16.146,13.612s0.391,15.188-5.062,20.502L428.989,355.159l27.141,158.243 c1.287,7.503-1.797,15.087-7.956,19.562C444.689,535.495,440.562,536.783,436.416,536.783z M285,417.178 c3.197,0,6.394,0.766,9.307,2.297l115.549,60.748l-22.067-128.665c-1.113-6.488,1.038-13.107,5.752-17.702l93.48-91.122 l-129.188-18.772c-6.515-0.946-12.146-5.038-15.059-10.941L285,95.957l-57.774,117.063c-2.913,5.903-8.544,9.995-15.059,10.941 L82.979,242.733l93.481,91.122c4.713,4.595,6.864,11.214,5.751,17.702l-22.068,128.665l115.549-60.748 C278.606,417.943,281.803,417.178,285,417.178z'/%3E%3C/svg%3E");
}
.testimonial-container > .testimonial-content::after {
  top: 15%;
  left: calc(-60px - 1vw);
}
.testimonial-container > .testimonial-content::before {
  top: 15%;
  right: calc(-60px - 1vw);
}

.floating {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transform-origin: center center;
}

.floating.slow {
  animation-name: floating-slow;
}
.floating.medium {
  animation-name: floating-medium;
}

.floating.high {
  animation-name: floating-high;
}

@keyframes floating-slow {
  from {
    transform: translate(0,  0px);
  }
  48%  {
    transform: translate(0, -30px);
  }
  to   {
    transform: translate(0, 0px);
  }
}

@keyframes floating-medium {
  from {
    transform: translate(0,  0px);
  }
  50%  {
    transform: scale(1.05) translate(6px, 3px);
  }
  to   {
    transform: translate(0, -0px);
  }
}

@keyframes floating-high {
  from {
    transform: translate(0,  0px);
  }
  50%  {
    transform: scale(1.15) translate(0px, 1px);
  }
  to   {
    transform: translate(0, -0px);
  }
}

.pricing-container {
  height: auto;
  width: 100%;
  display: block;
  background-image: url('../images/otis-pricing-guide-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/** OVER-RIDES **/

#main-bg-image {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.index-body .carousel.slide div.col-md-6 {
  padding: 2.1rem;
}

.index-body .carousel.slide > div.col-md-6:first-child {
  padding: 2.1rem 2.1rem 0 2.1rem;
}

.index-body .carousel.slide div > .pagination {
  width: 100%;
  position: relative;
  color: #ffffff;
}

.index-body .carousel .carousel-indicators {
  position: absolute;
  left: auto;
  bottom: 0;
  right: 0;
  z-index: 15;
  display: flex;
  margin: 0 9px;
  list-style: none;
}

.index-body .carousel-inner {
  margin-bottom: 50px;
}

.index-body .carousel-inner .carousel-item {
  padding-right: 5px;
}

.index-body .carousel-inner .carousel-item .card.course-card {
  margin: 0 auto;
}

.index-body .carousel-inner .carousel-item .card-header {
  min-height: 24px;
}

.index-body .carousel-inner .carousel-item .card-body .card-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.index-body .carousel-inner .carousel-item .card-footer {
  margin-top: 0;
}

.index-body .carousel-inner .carousel-item .card-footer a.course-card-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 1rem;
  padding-right: 54px;
  padding-bottom: 1rem;
  text-align: right;
  font-weight: 700;
  font-size: 90%;
  text-transform: uppercase;
  color: #DE0069;
}

.index-body .carousel-inner .carousel-item .card-footer a.course-card-link::after {
  content: '';
  height: 39px;
  width: 39px;
  position: absolute;
  right: 0;
  z-index: 100;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 50 50'%3E%3Cpath fill='%23DE0069' d='M31.202,18.207c-1.053,0-1.861,0.378-2.422,1.136c-0.561,0.757-0.842,1.866-0.842,3.327v4.648 c0,1.476,0.283,2.594,0.848,3.356c0.565,0.761,1.371,1.142,2.417,1.142c1.076,0,1.905-0.378,2.484-1.136 c0.581-0.757,0.871-1.878,0.871-3.362V22.67c0-1.461-0.292-2.57-0.876-3.327C33.097,18.586,32.271,18.207,31.202,18.207z'/%3E%3Cpath fill='%23DE0069' d='M33.536,2.236H16.464c-7.825,0-14.227,6.402-14.227,14.227v17.073c0,7.825,6.402,14.227,14.227,14.227h17.073 c7.825,0,14.227-6.402,14.227-14.227V16.464C47.764,8.639,41.361,2.236,33.536,2.236z M24.172,31.009 c-0.384,0.677-1.009,1.284-1.874,1.822c-0.865,0.538-1.97,0.808-3.315,0.808c-1.76,0-3.179-0.535-4.255-1.603 c-1.076-1.069-1.614-2.591-1.614-4.567v-4.981c0-1.946,0.511-3.452,1.533-4.521c1.023-1.068,2.38-1.603,4.071-1.603 c1.714,0,3.025,0.433,3.933,1.298c0.907,0.865,1.392,2.077,1.453,3.639l-0.023,0.069h-2.215c-0.038-1.053-0.313-1.854-0.824-2.404 s-1.274-0.824-2.289-0.824c-1.023,0-1.83,0.368-2.422,1.103c-0.592,0.735-0.888,1.804-0.888,3.205v5.014 c0,1.432,0.317,2.524,0.952,3.275c0.634,0.75,1.497,1.126,2.589,1.126c0.799,0,1.42-0.136,1.863-0.409 c0.442-0.273,0.771-0.621,0.986-1.044v-3.817h-2.872V24.9h5.213C24.172,24.898,24.172,31.009,24.172,31.009z M36.887,27.318 c0,1.991-0.515,3.542-1.545,4.654c-1.03,1.111-2.41,1.667-4.14,1.667c-1.707,0-3.065-0.555-4.072-1.667 c-1.007-1.111-1.51-2.662-1.51-4.654v-4.613c0-1.983,0.506-3.536,1.517-4.659c1.01-1.123,2.365-1.683,4.065-1.683 c1.722,0,3.1,0.561,4.134,1.683c1.035,1.123,1.551,2.676,1.551,4.659V27.318z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.index-body .carousel-indicators li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 12px;
  height: 12px;
  margin-right: 2.1px;
  margin-left: 2.1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #de0069;
  border: none;
  border-radius: 50%;
  opacity: 1;
  transition: opacity .6s ease;
}

.index-body .carousel-indicators li.active, .index-body .carousel-indicators li:hover {
  background-color: rgb(255,255,255);
}

button, button:focus, button:active {
  border: none;
  outline: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea:focus, input:focus{
  outline: none;
}
*:focus {
  outline: none;
}
.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.carousel-control-next, .carousel-control-prev {
  width: 50px;
  z-index: 1200;
  top: 24px;
}

.modal {
  z-index: 1500;
}

.modal-backdrop {
  z-index: 1250;
}

.modal-backdrop.show {
  opacity: .75;
}

/* Smartphones */
@media only screen
and (max-width : 480px) {
  .hide-small {
    display: none !important;
  }
}

/* Laptops and Tablets */
@media only screen
and (max-width : 768px) {
  .hide-medium {
    display: none;
  }
  #main-nav, #askOtis, #convince-your-admin {
    display: none;
  }
  #mobile-nav #askOtis {
    display: block;
    position: absolute !important;
  }
  nav.navbar.otis-navbar {
    padding-right: 1.5rem;
  }
  .main-content .container-fluid, footer .footer-content {
    padding: 0 5% 0 5%;
  }
  .col.user-registration {
    margin: 5%;
  }
  .index-body .carousel-inner {
    position: relative;
    margin-top: 0;
  }
  .index-body .carousel .carousel-indicators {
    justify-content: center;
  }
  #trendingCourseCarousel > div > h5 {
    text-align: center !important;
  }
}

/* Desktops and Laptops */
@media only screen
and (max-width : 1224px) {
  .hide-large {
    display: none;
  }
  .main-content .container-fluid, footer .footer-content {
    padding: 0 9% 0 6%;
  }
}

/* Large Screens */
@media only screen
and (max-width : 1824px) {
  .hide-x-large {
    display: none;
  }
}

p.promo-code,
p.promo-code > * {
	font-size: 1.6rem;
	font-weight: 700;
}



/* Desktops and Laptops */
@media only screen
and (max-width : 1500px) {
  #dropdownMenuButton-navfree {
    background: none !important;
     border: none;
     color: black;
     font-size: 15px;
  }
}

/* Large Screens */
@media only screen
and (min-width : 1500px) {
  #dropdownMenuButton-navfree {
    background: none !important;
     border: none;
     color: black;
     font-size: 15px;
  }
}
