@charset "UTF-8";

html, body {
 width: 100% !important;
 height: 100%;
 font-family:'Roboto',Helvetica,Arial,san-serif;
 -webkit-text-size-adjust: 100%;
 -ms-text-size-adjust: 100%;
 margin: 0;
}

h1, h2, h3, h4, h5, h6, p, small, li, blockquote, a, button, span, div, label, input, select, textarea, option {
  font-family:'Roboto',Helvetica,Arial,san-serif;
  font-weight: 300;
  color: rgb(0,0,0);
}

img {
  max-width: initial !important;
}

object {
  max-height: 7.5rem;
}

.hidden {
  display: none !important;
}

.sub-heading {
  font-family: din-condensed, 'Roboto Condensed', 'Roboto',Helvetica,Arial,san-serif !important;
  font-weight: 300;
}

.thin-heading {
  font-family: 'Roboto Condensed', 'Roboto',Helvetica,Arial,san-serif !important;
  font-weight: 600;
}

.large-heading {
  font-size: 3.6rem;
}

.medium-heading {
  font-size: 2.64rem;
}

a {
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

a, a:hover, a:focus {
  color: rgb(114,191,219);
}

a:hover {
  text-decoration: none !important;
}

a:hover img {
  opacity: 0.66;
}

strong, .bold {
  font-weight: 700 !important;
}

.thin {
  font-weight: 200 !important;
}

.height-x-large {
  min-height: 99vh;
}

.height-large {
  min-height: 75vh;
}

.height-medium {
  min-height: 50vh;
}

.height-small {
  min-height: 25vh;
}

.width-full {
  width: 100%;
}

.width-three-quarters {
  width: 75%;
}

.width-half {
  width: 50%;
}

.width-quarter {
  width: 25%;
}

.height-full {
  height: 100%;
}

.height-three-quarters {
  height: 75%;
}

.height-half {
  height: 50%;
}

.height-quarter {
  height: 25%;
}

.flex-align-center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.margin-auto {
  display: block;
  margin: 0 auto;
}

.margin-top {
  margin-top: 2.76rem;
}

.margin-right {
  margin-right: 2.76rem;
}

.margin-bottom {
  margin-bottom: 2.76rem;
}

.margin-left {
  margin-left: 2.76rem;
}

.no-margin {
  margin: 0 0 !important;
}

.padding {
  padding: 3.75rem;
}

.padding-sm {
  padding: 1.65rem;
}

.padding-top {
  padding-top: 3.75rem;
}

.padding-right {
  padding-right: 3.75rem;
}

.padding-bottom {
  padding-bottom: 3.75rem;
}

.padding-left {
  padding-left: 3.75rem;
}

.no-padding {
  padding: 0 0 !important;
}

.teq-blue-text {
 color: rgb(0,180,228) !important;
}

.pd-blue-text {
 color: rgb(114,191,219) !important;
}

.dark-blue-text {
  color: rgb(0,43,84) !important;
}

.blue-text {
 color: rgb(64,85,117) !important;
}

.light-blue-text {
  color: rgb(114,191,219) !important;
}

.pink-text {
  color: rgb(227,128,177) !important;
}

.yellow-text {
  color: rgb(243,217,81) !important;
}

.green-text {
  color: rgb(204,239,157) !important;
}

.white-text {
 color: white !important;
}

.black-text {
 color: black !important;
}

.light-grey-text {
  color: rgb(230,226,231) !important;
}

.grey-text {
  color: rgb(200,200,200) !important;
}

.orange-text {
  color: rgb(255,168,0) !important;
}

.red-text {
  color: rgb(255,54,0) !important;
}

.light-grey-bg {
 background-color: rgb(236,239,238);
}

.pd-blue-bg {
 background-color: rgb(114,191,219);
}

.white-bg {
 background-color: rgb(255,255,255);
}

.yellow-bg {
 background-color: rgb(243,217,81);
}

.light-blue-bg {
  background-color: rgb(224,241,247);
}

.light-grey-fill {
 fill: rgb(236,239,238);
}

.pd-blue-fill {
 fill: rgb(114,191,219);
}

.white-fill {
 fill: rgb(255,255,255);
}

.yellow-fill {
 fill: rgb(243,217,81);
}

.teal-fill {
  fill: rgb(168,220,182);
}

.pink-fill {
  fill: rgb(227,128,177);
}

.lavender-fill {
  fill: rgb(204,211,233);
}

.light-blue-fill {
  fill: rgb(224,241,247);
}

.blue-fill {
  fill: rgb(75,101,175);
}

.green-fill {
  fill: rgb(169, 224, 140);
}

.opacity-quarter {
  opacity: .25;
}

.opacity-half {
  opacity: .5;
}

.opacity-none {
  opacity: 0;
}

.dropshadow {
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.24);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.24);
}

.button {
  display: inline-block;
  margin-top: 18px;
  padding: .75rem 2.52rem;
  border-radius: 0;
  font-family: din-condensed, 'Roboto Condensed', 'Roboto',Helvetica,Arial,san-serif !important;
  font-size: 2.25rem;
  font-weight: 600;
  cursor: pointer !important;
}

.button:hover {
  text-decoration: underline !important;
  cursor: pointer !important;
}

.button.medium-button {
  padding: .5rem 1.92rem;
  font-size: 1.53rem;
}

.button.small-button {
  padding: .66rem 2.37rem .5rem 2.37rem;
  line-height: 120%;
  font-size: inherit;
}

p .button {
  margin-top: .87rem;
}

.button.pd-blue-button {
  background-color: rgb(114,191,219);
  color: rgb(255,255,255);
}

.button.orange-button {
  background-color: rgb(255,168,0);
  color: rgb(255,255,255);
}

.button.yellow-button {
  background-color: rgb(243,217,81);
  color: rgb(0,0,0);
}

.button.green-button {
  background-color: rgb(169,224,140);
  color: rgb(255,255,255);
}

.button.group-view {
  padding-left: 3.9rem;
  background-image: url('../images/group-view-icon.svg');
  background-size: 33px;
  background-repeat: no-repeat;
  background-position: 30px 6px;
  font-size: 1.2rem;
  text-indent: 9px;
}

button.admin-menu {
  height: auto;
  position: absolute;
  top: -.5%;
  right: 0;
  z-index: 960;
  padding: 0 0;
  background-color: transparent;
  border: none;
}

button.admin-menu:after {
  content: '\2807';
  font-size: 48px;
  color: rgb(169,224,140);
}

button.admin-menu:hover:after {
  color: rgb(0,0,0);
}

#askOtis {
  position: fixed;
  z-index: 999;
  right: 2.4%;
  top: 14.73%;
  cursor: pointer;
}

.main-content.index-body #askOtis {
  bottom: 7.5%;
}

#askOtis object, #askOtis object svg, #askOtis object svg path {
  max-height: 100%;
  width: 7.5rem;
  height: auto;
  cursor: pointer;
}

nav.navbar.otis-navbar {
  padding-right: 3.75rem;
  padding-bottom: 0;
}

nav.navbar.otis-navbar a.otis-logo, nav.navbar.otis-navbar a.otis-logo img, nav.navbar.otis-navbar a.otis-logo svg {
  height: 96px;
  width: 360px;
}

#main-nav li.nav-item a.nav-link {
  margin-right: 5px;
  border-bottom: 3px solid rgb(255,255,255);
  font-weight: 600;
  font-size: calc(1vw - 6.6%);
  color: rgb(0,0,0);
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
}

#main-nav li.nav-item a.nav-link:hover {
  border-bottom: 3px solid rgb(114,191,219);
  color: rgb(114,191,219);
}

#main-nav li.nav-item button.user-icon, #main-nav li.nav-item div.dropdown.user-dropdown button.user-dropdown-menu {
  display: inline-block;
  background: none;
  border: none;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#main-nav li.nav-item button.user-icon, #mobile-nav div.dropdown.list-group-item button.user-icon {
  height: 66px;
  width: 66px;
  display: block;
  margin: 0 auto;
  padding: 0 0;
  background-color: rgb(60, 72, 82);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  border-radius: 50%;
  border-radius: 50%;
  text-decoration: none;
}

#main-nav li.nav-item div.dropdown.user-dropdown button.user-dropdown-menu, #main-nav li.nav-item div.dropdown.user-dropdown button.user-dropdown-menu:focus {
  margin: 0;
  padding: .5rem 1rem;
  text-align: center;
  font-weight: 600;
  font-size: calc(1vw - 6.6%);
  color: rgb(0,0,0);
}

#main-nav li.nav-item div.dropdown.user-dropdown button.user-dropdown-menu:hover {
  color: rgb(114,191,219);
}

#main-nav li.nav-item div.dropdown.user-dropdown button.user-dropdown-menu::after, #mobile-nav div.mobile-menu a.user-dropdown-link::after  {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

#main-nav li.nav-item div.dropdown.user-dropdown div.dropdown-menu {
  padding: .5rem 0 0 0;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.12);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.12);
}

#main-nav li.nav-item div.dropdown-menu a.dropdown-item {
  font-weight: 200;
}

#main-nav li.nav-item div.dropdown-menu a.dropdown-item:hover {
  background-color: rgba(79,197,221,0.25);
}

#main-nav li.nav-item div.dropdown-menu a.dropdown-item:last-child {
  margin-top: .5rem;
  padding: .75rem 1.5rem;
  background-color: rgb(79,197,221);
  border-radius: 0 0 .25rem .25rem;
  color: rgb(255,255,255);
}


.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-toggle span.icon-bar {
    transition: all 0.15s;
}

.navbar-toggle span:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggle span:nth-child(3) {
    opacity: 0;
}

.navbar-toggle span:nth-child(4) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggle.collapsed span:nth-child(2),
.navbar-toggle.collapsed span:nth-child(4) {
    transform: rotate(0);
}

.navbar-toggle.collapsed span:nth-child(3) {
    opacity: 1;
}

.mobile-nav-button .bar1, .mobile-nav-button .bar2, .mobile-nav-button .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.mobile-nav-button-active.mobile-nav-button .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.mobile-nav-button-active.mobile-nav-button .bar2 {opacity: 0;}

.mobile-nav-button-active.mobile-nav-button .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

#mobile-nav {
  position: relative;
  z-index: 1000;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.25);
}

#mobile-nav div.mobile-menu {
  border-bottom: 3px solid rgb(236,239,238);
}

#mobile-nav div.mobile-menu a.nav-link {
  padding: 3% 6%;
  border-radius: 0;
  font-size: calc(1vh + 24%);
  color: rgb(0,0,0);
}

#mobile-nav #mobile-user-menu a.nav-link {
  padding-left: 10%;
}

#mobile-nav div.mobile-menu a.nav-link.user-dropdown-link {
  font-size: calc(1vh + 51%);
}

#mobile-nav div.mobile-menu a.nav-link:hover {
  background-color: rgb(79,197,221);
  color: rgb(255,255,255);
}

div#login-window .modal-content.login-container {
  position: relative;
  display: block;
  background-color: transparent !important;
  border: none !important;
}

.login-container .login-section.login-card {
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  margin-top: .75rem;
  border-radius: .51rem;
  background-color: rgb(255,255,255);
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.36);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.36);
}

.login-container .login-section.login-card a img {
  border-radius: .51rem;
}

.login-container .login-section.login-card .login-footer svg {
  margin-top: 1.2rem;
  border-radius: 0 0 calc(.51rem - 1px) calc(.51rem - 1px);
}

.login-footer svg a:hover {
  opacity: 0.66;
}

.login-container .login-section.login-card .login-form {
  width: 100%;
  padding: 3.75rem 3.75rem .75rem 3.75rem;
}

.login-form .main-login-form > .form-group input {
  width: 100%;
  height: calc(1.5em + .75rem + 9px);
  margin-bottom: .66rem;
  padding: .36rem .51rem;
  border-radius: 0;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid rgb(200,200,200);
  border-left: none;
  font-family: 'Roboto Condensed', 'Roboto',Helvetica,Arial,san-serif !important;
  font-weight: 300;
  font-size: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.login-form .main-login-form button.login {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  margin-top: .51rem;
  padding: .75rem;
  background-color: rgb(79,197,221);
  border: none;
  border-radius: 0;
  text-align: center;
  font-family: din-condensed, 'Roboto Condensed', 'Roboto',Helvetica,Arial,san-serif !important;
  font-weight: 400;
  font-size: 1.14rem;
  color: rgb(255,255,255);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.24);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.24);
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.login-form .main-login-form button.login:hover {
  background-color: rgb(243,217,81);
  color: rgb(0,0,0);
}

footer {
  background-color: rgb(236,239,238);
}

footer .footer-content .row {
  padding-top: 3.36rem;
  font-weight: 300;
}

.footer-content .row p {
  font-weight: 300;
}

.footer-content ul.nav li.nav-item {
  width: 15%;
}

.footer-content ul.nav a.nav-icon {
}

.main-content .container-fluid, footer .footer-content {
  padding: 0 10.71% 0 7.5%;
}

.main-content.thin-search-bar .container-fluid.course-background .course-search-field {
  padding: 2.64rem 0;
}

.main-content .row {
  margin: 0 auto;
}

.floating {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transform-origin: center center;
}

.floating.slow {
  animation-name: floating-slow;
}
.floating.medium {
  animation-name: floating-medium;
}

.floating.high {
  animation-name: floating-high;
}

@keyframes floating-slow {
  from {
    transform: translate(0,  0px);
  }
  48%  {
    transform: translate(0, -30px);
  }
  to   {
    transform: translate(0, 0px);
  }
}

@keyframes floating-medium {
  from {
    transform: translate(0,  0px);
  }
  50%  {
    transform: scale(1.05) translate(6px, 3px);
  }
  to   {
    transform: translate(0, -0px);
  }
}

@keyframes floating-high {
  from {
    transform: translate(0,  0px);
  }
  50%  {
    transform: scale(1.15) translate(0px, 1px);
  }
  to   {
    transform: translate(0, -0px);
  }
}

/** OVER-RIDES **/
button, button:focus, button:active {
  border: none;
  outline: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea:focus, input:focus{
  outline: none;
}
*:focus {
  outline: none;
}
.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.carousel-control-next, .carousel-control-prev {
  width: 50px;
  z-index: 1200;
  top: 24px;
}

.modal {
  z-index: 1500;
}

.modal-backdrop {
  z-index: 1250;
}

.modal-backdrop.show {
  opacity: .75;
}

/* Smartphones */
@media only screen
and (max-width : 480px) {
  .hide-small {
    display: none !important;
  }
}

/* Laptops and Tablets */
@media only screen
and (max-width : 768px) {
  .hide-medium {
    display: none;
  }
  #main-nav, #askOtis {
    display: none;
  }
  #mobile-nav #askOtis {
    display: block;
    position: absolute !important;
  }
  nav.navbar.otis-navbar {
    padding-right: 1.5rem;
  }
  .main-content .container-fluid, footer .footer-content {
    padding: 0 5% 0 5%;
  }
}

/* Desktops and Laptops */
@media only screen
and (max-width : 1224px) {
  .hide-large {
    display: none;
  }
  .main-content .container-fluid, footer .footer-content {
    padding: 0 9% 0 6%;
  }
}

/* Large Screens */
@media only screen
and (max-width : 1824px) {
  .hide-x-large {
    display: none;
  }
}
