@charset "UTF-8";

.main-content .container-fluid.course-background {
  position: relative;
  background-color: rgb(236,239,238);
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
}

.main-content .container-fluid.course-background.lessons {
  background-image: url('../images/default-erc-search-background_lg.jpg');
}

.main-content .container-fluid.course-background div.course-background-gradient-cover {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.course-search-field {
  padding: 4.128rem 0;
}

.course-search-field form, .course-search-field form .form-group {
  margin: 0;
}

form#search-form .form-group.search-input {
  background-image: url('images/search-icon.png');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}
form#search-form .form-group.search-input input[type="text"], form#search-form .form-group.search-input input[type="text"]:focus {
  height: 2.874rem;
  padding-right: 12%;
  background-color: transparent !important;
  border: none;
  border-radius: 0;
  border-bottom: solid thin #000;
  font-size: 1.5rem;
  font-weight: 300;
}

.course-tags .course-tag-container, .course-filters .course-search-filters-container, .course-filters .course-sort-filters-container  {
  padding: 1.124rem 1.124rem 0 0;
}

.course-tags .course-tag-container span.course-tag-item {
  height: 2.85rem;
  display: inline-block;
  margin-top: .375rem;
  margin-right: .51rem;
  padding: .572rem .572rem .572rem 1.332rem;
  background-color: rgb(236,239,238);
  border-radius: 100px;
  border: 2.1px solid rgb(236,239,238);
  font-weight: bold;
  font-size: .963rem;
  white-space: pre;
  cursor: pointer;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.course-tags .course-tag-container span.course-tag-item:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

.course-tag-container span.course-tag-item button.close-tag {
  height: 25px;
  width: 25px;
  margin-left: .963rem;
  padding: 0 0;
  background-color: rgb(255,255,255);
  border-radius: 100px;
  border: none;
  outline: none;
  font-size: .963rem;
  cursor: pointer;
}

.course-search-filters-container .dropdown.type-id-dropdown-container {
  display: inline-block;
}

.course-filters .course-search-filters-container select#type-id-dropdown-select {
  display: none;
}

.course-search-filters-container .dropdown.type-id-dropdown-container button#type-id-dropdown-button {
  width: 153px;
  text-align: left;
}

.course-search-filters-container .dropdown.type-id-dropdown-container div.dropdown-menu {
  background-color: rgba(100,100,100,.96);
}

.dropdown.type-id-dropdown-container div.dropdown-menu a.dropdown-item {
  position: relative;
  padding: .24rem 24px .24rem 30px;
  color: rgb(255,255,255);
}

.dropdown.type-id-dropdown-container div.dropdown-menu a.dropdown-item.selected {
  opacity: 0.48;
  pointer-events: none !important;
}

.dropdown.type-id-dropdown-container div.dropdown-menu a.dropdown-item.selected::after {
  position: absolute;
  top: 6px;
  left: 12px;
  content: '\02143';
  transform: rotate(40deg);
  font-size: 15px;
  font-weight: 500;
  color: rgb(255,255,255);
}

.dropdown.type-id-dropdown-container div.dropdown-menu a.dropdown-item:hover {
  background-color: rgb(167,114,172);
  color: rgb(255,255,255);
}

.dropdown.type-id-dropdown-container div.dropdown-menu a.dropdown-item > span {
  height: 24px;
  width: 24px;
  position: relative;
  top: 3px;
  right: 0;
  display: inline-block;
  margin-right: 6px;
}

.container-fluid.course-categories-container {
  position: relative;
  padding-bottom: 12.5rem;
}

.container-fluid.course-categories-container svg {
  width: 100%;
  position: fixed;
  z-index: -1;
  left: 0;
  bottom: 0;
}


.row.course-selections {
  position: relative;
  padding-bottom: 7.5rem;
}

.row.course-selections div.course-card-container {
  display: flex;
}

.card.course-card {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  margin-top: 2.74rem;
  border: none;
  border-radius: .51rem;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.12);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.12);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  flex: 1;
}
.card.completed-course {
    flex: none;
}

.card.course-card:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.36);
  box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.36);
}

.card.course-card.course-category, .card.course-card.course-category .card-header {
  border-radius: calc(.51rem - 1px) calc(.51rem - 1px) calc(.51rem - 1px) calc(.51rem - 1px);
}

.card.course-card.course-category a img {
  width: 100%;
  height: auto;
  border-radius: calc(.51rem - 1px) calc(.51rem - 1px) 0 0;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.card.course-card.course-category .card-header {
  padding: 0 0;
}

.card.course-card.course-category .card-header a {
  display: block;
  padding: .75rem 1.25rem;
  text-align: center;
  text-transform: uppercase;
  font-size: .99rem;
  color: rgb(0,0,0);
}

.card.course-card.course-category .card-header a small {
  font-size: .75rem;
}

.card.course-card.course-category:hover .card-header a {
  text-decoration: underline;
}

.card.course-card .card-body {
  padding: 1.77rem 1.23rem;
  text-align: left;
  overflow: hidden;
}

.card.course-card .card-body.empty {
  position: relative;
}

.card.course-card .card-body.empty p {
  width: 81%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card.course-card .card-body.blog-body p:nth-child(3) {
  display: none;
  font-size: .135rem;
}

.card.course-card .card-header, .card.course-card .card-footer {
  border-top: none;
  border-bottom: none;
}

.card.course-card .card-header:first-child {
  border-radius: calc(.51rem - 1px) calc(.51rem - 1px) 0 0;
}

.card.course-card .card-header {
  padding: .39rem 1.5rem;
  background-color: rgb(255,255,255);
}

.card.course-card .card-header.light-grey {
  background-color: rgb(230,226,231);
}

.card.course-card .card-header.grey {
  background-color: rgb(200,200,200);
}

.card.course-card .card-header.green, .product-familiarization {
  background-color: rgb(204,239,157) !important;
}

.card.course-card .card-header.yellow, .tech-infused-lessons {
  background-color: rgb(243,217,81) !important;
}

.card.course-card .card-header.light-blue, .frameworks-resources {
  background-color: rgb(114,191,219) !important;
}

.card.course-card .card-header.pink, .instructional-skills {
  background-color: rgb(227,128,177) !important;
}

.card.course-card .card-header.blue, .certification-sessions {
  background-color: rgb(131,147,202) !important;
}

.card.course-card .card-header.orange, .school-uploaded {
  background-color: rgb(232,159,95) !important;
}

.card-header ul.nav.course-details li.nav-item {
  display: block;
  color: rgb(255,255,255);
}

.card-header li.nav-item.title {
  width: 100%;
  padding: .51rem .75rem;
  text-align: center;
  font-size: 1.5rem;
}

.card-header li.nav-item.category-duration-details {
  padding: .51rem .75rem .51rem 2.1rem;
  background-color: transparent;
  background-image: url('../images/catetory-details-duration-icon.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 25%;
}

.card-header li.nav-item.category-sessions-details {
  padding: .51rem .75rem .51rem 2.1rem;
  background-color: transparent;
  background: url('../images/catetory-details-sessions-icon.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 25%;
}

.card-header li.nav-item.category-chapters-details {
  padding: .51rem .75rem .51rem 2.1rem;
  background-color: transparent;
  background: url('../images/catetory-details-chapters-icon.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 25%;
}

.card-header li.nav-item.playlist-details {
  padding: .51rem .75rem .51rem 2.1rem;
  background: transparent url('../images/playlist-title-icon.svg') no-repeat left center;
  text-indent: 36px;
  color: rgb(0,0,0);
}

.row.smart-skill-selected .card.course-card .card-header {
  background-color: rgb(131,147,202);
}

ul.nav.course-details li.nav-item a {
  color: rgb(255,255,255);
}

ul.nav.course-details li.nav-item a:hover, .card.course-card .card-body p a:hover {
  text-decoration: underline;
  color: rgb(0,0,0);
}

.card.course-card .card-body h4.course-card-title, .card.course-card .card-body p {
  margin-bottom: 0;
}

.card.course-card .card-body p a {
  display: block;
  font-weight: 600;
  font-size: 1.14rem;
  color: rgb(0,0,0);
}

.card.course-card .card-body p a:hover {
  text-decoration: underline !important;
}

.card.course-card .card-body a.course-card-link {
  position: relative;
  display: block;
  padding-top: .225rem;
  padding-right: 2.75rem;
  background-image: url('../images/go_link.svg');
  background-repeat: no-repeat;
  background-position: right 0;
  background-size: 40px 40px;
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
}

.card-body a.course-card-link span {
  font-weight: 700;
  font-size: 1.25rem;
  color: rgb(114,191,219);
}

.card-body a.course-card-link small {
  display: block;
  font-size: .876rem;
}

.card.course-card .card-body a.course-card-link:hover {
  background-image: url('../images/go_link_hover.svg');
}

.card-body a.course-card-link:hover span {
  color: rgb(0,0,0);
}

.card-body a.course-card-link:hover small {
  color: rgb(114,191,219);
}

.card.course-card .card-footer {
  display: block;
  margin-top: 2rem;
  padding: .24rem 1.24rem .75rem 1.24rem;
  background-color: rgb(255,255,255);
  border-radius: 0 0 calc(.51rem - 1px) calc(.51rem - 1px);
}

.card.course-card .card-footer.completed-certificate {
  height: 84px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
/*
.card.course-card .card-footer.completed-certificate a {
  width: 50%;
}
*/
.card-footer.completed-certificate a img {
  float: left;
}

.card-footer.completed-certificate a:first-child img {
  float: right;
}

.card.course-card .card-footer div.course-rating, .card.course-card .card-footer div.course-footer {
  height: 24px;
  width: 50%;
  position: relative;
  float: left;
  display: inline-block;
  overflow: hidden;
}

.card-footer div.course-rating span, .card-footer div.course-footer span {
  width: 100%;
  position: absolute;
  z-index: 1200;
}

.card-footer div.course-rating span {
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
}

.card-footer div.course-rating span.zero-stars {
  background-image: url('../images/course-star-rating-0.png');
}

.card-footer div.course-rating span.one-stars {
  background-image: url('../images/course-star-rating-1.png');
}

.card-footer div.course-rating span.two-stars {
  background-image: url('../images/course-star-rating-2.png');
}

.card-footer div.course-rating span.three-stars {
  background-image: url('../images/course-star-rating-3.png');
}

.card-footer div.course-rating span.four-stars {
  background-image: url('../images/course-star-rating-4.png');
}

.card-footer div.course-rating span i {
  margin-left: -999999px;
}

.card-footer div.course-footer span {
  text-align: right;
  padding-right: 10px;
}

.card-footer div.course-footer span p {
  display: inline-block;
  float: right;
  margin-left: 15px;
}

div.course-footer span p.certification-badge {
  height: 24px;
  width: 24px;
  background-image: url('../images/default-badge-icon.svg');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
}
div.digital-certification-container svg {
    max-height: 92px;
    min-height: 60px;
    cursor: pointer;
}

div.digital-certification-container .digital-certification-button-container .digital-certification-button {
  fill: rgb(255,255,255);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

div.digital-certification-container .digital-certification-button-container:hover .digital-certification-button {
  fill: rgb(0,0,0);
}

.row.smart-skills-container {
  padding-bottom: 6rem;
}



.row.smart-skills-container .course-card-container {
  padding: 9px !important;
}


.row.smart-skills-container .course-card-container .card-body.empty {
  display: flex;
  align-items: center;
  -ms-flex-align: center;
  justify-content: center;

}



.row.smart-skills-container .card-body.empty a {
  text-align: center;
  line-height: 1.26;
  font-size: calc(2vw - 1%);
  color: rgb(255,255,255);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}



.row.smart-skills-container .card-body.empty a:hover {
  color: rgb(0,0,0);
}


@media only screen
and (max-width : 768px) {
  .course-filters .course-search-filters-container select#type-id-dropdown-select {
    display: inline-block;
  }
  .course-search-filters-container .dropdown.type-id-dropdown-container button#type-id-dropdown-button {
    display: none;
  }
}
/*adding css for pblocks landing page, pblockskills.php*/
#pblockEven
{

  background-color: #72bfdb;
  border-radius: 10px;

}
#pblockOdd
{

  background-color: #53bb90;
  border-radius: 10px;
}

.course-sort-filter-item {
height: 2.5rem;
padding: 0 12px;
border: 1.2px solid rgb(236,239,238);
border-radius: 0;
outline: none;
text-overflow: ellipsis;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
