@charset "UTF-8";

html, body {
 width: 100% !important;
 height: 100%;
 font-family:'Roboto',Helvetica,Arial,san-serif;
 -webkit-text-size-adjust: 100%;
 -ms-text-size-adjust: 100%;
 margin: 0;
}

h1, h2, h3, h4, h5, h6, p, small, li, blockquote, a, button, span, label, input, select, textarea, option {
  font-family:'Roboto',Helvetica,Arial,san-serif;
  font-weight: 300;
  color: rgb(0,0,0);
}

img {
  max-width: initial !important;
}

.hidden {
  display: none !important;
}

.sub-heading {
  font-family: din-condensed, 'Roboto Condensed', 'Roboto',Helvetica,Arial,san-serif !important;
  font-weight: 300;
}

.thin-heading {
  font-family: 'Roboto Condensed', 'Roboto',Helvetica,Arial,san-serif !important;
  font-weight: 600;
}

.large-heading {
  font-size: 3.6rem;
}

.medium-heading {
  font-size: 2.64rem;
}

a {
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

a, a:hover, a:focus {
  color: rgb(114,191,219);
}

a:hover {
  text-decoration: none;
}

a svg:hover {
  fill:
}

strong, .bold {
  font-weight: 700;
}

.height-large {
  min-height: 75vh;
}

.height-medium {
  min-height: 50vh;
}

.height-small {
  min-height: 25vh;
}

.width-full {
  max-width: 100%;
}

.width-half {
  max-width: 50%;
}

.width-quarter {
  max-width: 25%;
}

.margin-auto {
  display: block;
  margin: 0 auto;
}

.margin-top {
  margin-top: 2.76rem;
}

.margin-right {
  margin-right: 2.76rem;
}

.margin-bottom {
  margin-bottom: 2.76rem;
}

.margin-left {
  margin-left: 2.76rem;
}

.padding {
  padding: 3.75rem;
}

.padding-sm {
  padding: 1.65rem;
}

.padding-top {
  padding-top: 3.75rem;
}

.padding-right {
  padding-right: 3.75rem;
}

.padding-bottom {
  padding-bottom: 3.75rem;
}

.padding-left {
  padding-left: 3.75rem;
}

.no-padding {
  padding: 0 0;
}

.teq-blue-text {
 color: rgb(0,180,228) !important;
}

.pd-blue-text {
 color: rgb(114,191,219) !important;
}

.dark-blue-text {
  color: rgb(0,43,84) !important;
}

.blue-text {
 color: rgb(64,85,117) !important;
}

.white-text {
 color: white !important;
}

.black-text {
 color: black !important;
}

.light-grey-bg {
 background-color: rgb(236,239,238);
}

.pd-blue-bg {
 background-color: rgb(114,191,219);
}

.white-bg {
 background-color: rgb(255,255,255);
}

.yellow-bg {
 background-color: rgb(243,217,81);
}

.light-blue-bg {
  background-color: rgb(224,241,247);
}

.light-grey-fill {
 fill: rgb(236,239,238);
}

.pd-blue-fill {
 fill: rgb(114,191,219);
}

.white-fill {
 fill: rgb(255,255,255);
}

.yellow-fill {
 fill: rgb(243,217,81);
}

.teal-fill {
  fill: rgb(168,220,182);
}

.pink-fill {
  fill: rgb(243,203,223);
}

.lavender-fill {
  fill: rgb(204,211,233);
}

.light-blue-fill {
  fill: rgb(224,241,247);
}

.blue-fill {
  fill: rgb(75,101,175);
}

.opacity-quarter {
  opacity: .25;
}

.opacity-half {
  opacity: .5;
}

.opacity-none {
  opacity: 0;
}

.button {
  display: inline-block;
  padding: .75rem 2.52rem;
  border-radius: 0;
  font-family: din-condensed, 'Roboto Condensed', 'Roboto',Helvetica,Arial,san-serif !important;
  font-size: 2.25rem;
  font-weight: 500;
}

.button.small-button {
  padding: .5rem 2.37rem;
  font-size: inherit;
}

p .button {
  margin-top: .87rem;
}

.button.pd-blue-button {
  background-color: rgb(114,191,219);
  color: rgb(255,255,255);
}

.button.yellow-button {
  background-color: rgb(243,217,81);
  color: rgb(0,0,0);
}

button.admin-menu {
  height: auto;
  position: absolute;
  top: -.5%;
  right: 0;
  z-index: 1500;
  padding: 0 0;
  background-color: transparent;
  border: none;
}

button.admin-menu:after {
  content: '\2807';
  font-size: 48px;
  color: rgb(169,224,140);
}

button.admin-menu:hover:after {
  color: rgb(0,0,0);
}

#askOtis {
  position: fixed;
  z-index: 1500;
  right: 2.4%;
  top: 14.73%;
  cursor: pointer;
}

.main-content.index-body #askOtis {
  bottom: 7.5%;
}

#askOtis object, #askOtis object svg, #askOtis object svg path {
  width: 7.5rem;
  height: auto;
  cursor: pointer;
}

nav.navbar.otis-navbar {
  padding-right: 3.75rem;
  padding-bottom: 0;
}

nav.navbar.otis-navbar a.otis-logo {
  margin-bottom: -.5rem;
}

#main-nav li.nav-item a.nav-link {
  margin-right: 5px;
  padding-bottom: 3px;
  font-weight: 600;
  font-size: 96%;
  color: rgb(0,0,0);
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
}

#main-nav li.nav-item a.nav-link:hover {
  border-bottom: 3px solid rgb(114,191,219);
  color: rgb(114,191,219);
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-toggle span.icon-bar {
    transition: all 0.15s;
}

.navbar-toggle span:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggle span:nth-child(3) {
    opacity: 0;
}

.navbar-toggle span:nth-child(4) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggle.collapsed span:nth-child(2),
.navbar-toggle.collapsed span:nth-child(4) {
    transform: rotate(0);
}

.navbar-toggle.collapsed span:nth-child(3) {
    opacity: 1;
}

footer {
  background-color: rgb(236,239,238);
}

footer .footer-content .row {
  padding-top: 3.36rem;
  font-weight: 300;
}

.footer-content .row p {
  font-weight: 300;
}

.footer-content ul.nav li.nav-item {
  width: 15%;
}

.footer-content ul.nav a.nav-icon {
}

.main-content .container-fluid, footer .footer-content {
  padding: 0 15% 0 9%;
}

.main-content .row {
  margin: 0 auto;
}

/** OVER-RIDES **/
textarea:focus, input:focus{
    outline: none;
}
*:focus {
    outline: none;
}
.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
