@charset "UTF-8";

.course-details .title-nav {
  padding: 1.5rem 0 .51rem 0;
}

.course-details .title-nav h6 {
  margin-bottom: 0;
  font-size: .87rem;
}

.course-details .title-nav h1.course-details-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.course-details .title-nav > div, .course-details-extra-content > div {
  padding: 0 0;
}

.course-details .title-nav .nav-item {
  padding: 0 .99rem;
}

.course-details .title-nav svg {
  height: 1.62rem;
  width: auto;
}

.title-nav .favorite-icon-container svg path {
  fill: rgb(255,255,255);
  stroke: rgb(169,224,140);
  stroke-width: 4.2;
  stroke-miterlimit: 10;
  cursor: pointer;
}

.title-nav .favorite-icon-container svg path.selected {
  fill: rgb(169,224,140);
}

.title-nav .admin-menu-container button.admin-menu {
  height: 50px;
  top: -9px;
  position: relative;
}

.course-details .player-details, .course-details .player-details > div:first-child {
  padding: 0 0 4.74rem 0;
}

.course-details .player-details div.session-chapter-container.minimize {
  animation-name: minimize-width;
  animation-duration: 666ms;
  animation-fill-mode: forwards;
}

div.session-chapter-container.minimize ul.course-sessions-list {
  display: none;
}

@keyframes minimize-width {
  0% {
    max-width: 25%;
  }
  100% {
    max-width: 3%;
  }
}

.course-details .player-details div.session-chapter-container.maximize {
  animation-name: maximize-width;
  animation-duration: 666ms;
  animation-fill-mode: forwards;
}

div.session-chapter-container.maximize ul.course-sessions-list {
  display: block;
}

@keyframes maximize-width {
  0% {
    max-width: 3%;
  }
  100% {
    max-width: 25%;
  }
}

div.session-chapter-container button.minimize-maximize {
  height: 27px;
  width: 27px;
  position: absolute;
  right: 0;
  z-index: 1200;
  transform: rotate(0deg);
  background-image: url('../images/course-session-list-minimize-icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

div.session-chapter-container button.minimize-maximize.show {
  transform: rotate(180deg);
}

.button.group-view {
  padding-left: 3.9rem;
  background-image: url('../images/group-view-icon.svg');
  background-size: 33px;
  background-repeat: no-repeat;
  background-position: 30px 6px;
  font-size: 1.2rem;
  text-indent: 9px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.24);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.24);
}

.button.take-quiz {
  padding-left: 4.8rem;
  margin-top: 0;
  background-image: url(../images/course-quiz-icon.svg);
  background-size: 90px;
  background-repeat: no-repeat;
  background-position: left center;
  font-size: 1.5rem;
  text-indent: 9px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.24);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.24);
}

p.course-description {
  margin-bottom: 1rem;
  line-height: 1.5;
  font-size: .84rem;
}

.course-details .player-details ul.course-sessions-list, .course-details .player-details ol.course-chapters-list {
  padding: 0 0;
  list-style: none;
}

ul#session-chapter-menu-select li, ul.course-sessions-list li.list-title {
  margin-top: 0;
  padding: 0 24px;
  font-weight: 700;
}

div#session-chapter-mobile-menu {
  display: none;
}

ul.course-sessions-list li {
  margin: 6px 0 6px -24px;
}

ul.course-sessions-list li p.course-description {
  margin-top: 1.74rem;
}

ul.course-sessions-list li a, ol.course-chapters-list li a {
  display: block;
  font-size: .96rem;
  color: rgb(0,0,0);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

ul.course-sessions-list li a, ul.course-sessions-list li p.course-description {
  padding: 6px 24px;
}

ul.course-sessions-list li a:hover {
  background-color: rgb(236,239,238);
  font-weight: 600;
}

ul.course-sessions-list li a.active {
  font-weight: 600;
  color: rgb(255,255,255);
}

ul.course-sessions-list li a.active.light-grey {
  background-color: rgb(230,226,231);
}

ul.course-sessions-list li a.active.grey {
  background-color: rgb(200,200,200);
}

ul.course-sessions-list li a.active.green {
  background-color: rgb(204,239,157);
}

ul.course-sessions-list li a.active.yellow {
  background-color: rgb(243,217,81);
}

ul.course-sessions-list li a.active.light-blue {
  background-color: rgb(114,191,219);
}

ul.course-sessions-list li a.active.pink {
  background-color: rgb(227,128,177);
}

ul.course-sessions-list li a.active.blue {
  background-color: rgb(131,147,202);
}

ul.course-sessions-list li a.active.orange {
  background-color: rgb(232,159,95);
}

ul.course-sessions-list li a.complete {
  background-image: url('../images/course-completed-icon.svg');
  background-size: 21px;
  background-repeat: no-repeat;
  background-position: 3px 6px;
  opacity: .24;
}

ol.course-chapters-list li a:hover {
  background-color: transparent;
  font-weight: 600;
  color: rgb(0,0,0);
}

ol.course-chapters-list li a.active {
  background-color: rgb(236,239,238);
  font-weight: 600;
  color: rgb(0,0,0);
}

ol.course-chapters-list li {
  margin: 6px 0;
}

ol.course-chapters-list li a {
  padding: 6px 54px;
  background-image: url('../images/course-chapter-icon.svg');
  background-size: 36px;
  background-repeat: no-repeat;
  background-position: 24px -3px;
  font-size: .75rem;
}

ol.course-chapters-list li a.complete {
  padding: 6px 54px;
  background-image: url('../images/course-completed-icon.svg');
  background-size: 21px;
  background-repeat: no-repeat;
  background-position: 30px 3px;
  font-size: .75rem;
}

.row.course-details-content {
  padding: 1.2rem 0;
}

.row.course-details-content .badge-container img {
  height: auto;
  width: 6rem;
  display: inline-block;
}

.row.course-details-content h2.course-details-content-title {
  margin-top: .6rem;
  margin-bottom: 1.2rem;
  font-weight: 700;
  font-size: 2.1rem;
}

.row.course-details-content h2.course-details-content-title svg {
  height: 27px;
  width: auto;
  margin-left: 18px;
}

.row.course-details-content h2.course-details-content-title span.course-duration {
  font-size: .99rem;
}

.course-details-extra-content ul.nav li {
  margin-right: 9px;
}

.course-details-extra-content li a {
  padding: 15px 27px;
  font-size: 1.35rem;
  color: rgb(0,0,0);
}

.course-details-extra-content li a.active, .course-details-extra-content li a:hover {
  font-weight: 700;
  background-color: rgb(79,197,221);
  color: rgb(255,255,255);
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.24);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.24);
}

.tab-content {
  min-height: 75vh;
}

.tab-content .tab-pane {
  margin-bottom: 6rem;
}

.tab-pane .course-details-extra-content {
  padding: 3rem 0;
}

.tab-pane .course-details-extra-content > div {
  padding-right: 36px;
}

.course-details-extra-content .new-thread, .course-details-extra-content .reply-thread {
  padding-bottom: 6rem;
}

.card.course-card.thread-post {
  margin-top: 0;
  margin-bottom: 1rem;
}

.course-details-extra-content ul.nav.files-list {
  border-bottom: 0;
}

.course-details-extra-content ul.nav.files-list li a.nav-link {
  padding: 9px 18px;
  margin-bottom: .25rem;
  background-color: rgb(255,255,255);
  border: 0;
  border-radius: 0;
  font-size: 1rem;
  color: rgb(0,0,0);
}

ul.nav.files-list li a.nav-link > span {
  margin-right: 9px;
  color: rgb(0,0,0);
}

ul.nav.files-list li a.nav-link:hover > span, ul.nav.files-list li a.nav-link:focus > span, ul.nav.files-list li a.nav-link.active > span {
  font-weight: 700;
}

ul.nav.files-list li a.nav-link:hover, ul.nav.files-list li a.nav-link:focus, ul.nav.files-list li a.nav-link.active {
  -webkit-transition-duration: .15s;
  transition-duration: .15s;
}

.course-details-extra-content ul.nav.files-list li a.nav-link.disabled, .course-details-extra-content ul.nav.files-list li a.nav-link.disabled:hover, .course-details-extra-content ul.nav.files-list li a.nav-link.disabled:focus {
  opacity: 0.25;
}

div.files-list-attachments a {
  padding: .75rem 1.5rem .75rem 2.82rem;
  margin-bottom: 6px;
  display: block;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 6px center;
  background-size: 10%;
  text-align: left;
  color: rgb(0,0,0);
}

div.tab-content.files-list-attachments {
  min-height: 500px;
}

div.files-list-attachments a:hover, div.files-list-attachments a:focus {
  background-color: rgb(243,217,81);
}

div.files-list-attachments a.file {
  background-image: url('../images/file-attachment-icon.svg');
}

div.files-list-attachments a.link {
  background-image: url('../images/file-link-icon.svg');
}

div.modal-content .close.popup-close {
  height: 36px;
  width: 36px;
  position: absolute;
  top: 12px;
  right: 9px;
  line-height: 1;
  opacity: 1;
  text-shadow: none;
}

.modal-content .close.popup-close span {
  font-size: 36px;
  font-weight: 700;
  color: rgb(0,0,0);
}

.modal-body .sharing-section .form-row {
  margin-top: 2.1rem;
  margin-bottom: 2.1rem;
}

.sharing-section .schools-selected button.remove-item {
  margin-right: 9px;
  padding: .51rem;
}

.sharing-section .schools-selected button.remove-item:hover {
  background-color: rgb(236,239,238);
}

.popup-form-field select, .popup-form-field input {
  height: 2.5rem;
  width: 100% !important;
  margin-bottom: .51rem;
  border: 1.2px solid rgb(200,200,200);
  padding: .51rem 3rem .51rem 1rem;
  border-radius: 0;
  outline: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(0,0,0);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-row.no-margin .popup-form-field input {
  border-top: 1.2px solid rgb(200,200,200);
  border-right: 1.2px solid rgb(200,200,200);
  border-bottom: none;
  border-left: 1.2px solid rgb(200,200,200);
}

.popup-form-field select  {
  background: transparent;
  background-image: url(../images/dropdown-arrow-icon.svg);
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: right center !important;
}

.popup-form-field select.user-selection, .popup-form-field select.selected-users {
  height: calc(9rem + 12px);
  background-image: none;
}

.popup-form-field button {
  height: 60px;
  width: 60px;
  padding: 0 0;
  outline: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.popup-form-field button:hover {
  opacity: 0.66;
}

.popup-form-field button.add-share-user-btn {
  background-image: url(../images/add-share-user-btn.svg);
}

.popup-form-field button.remove-share-user-btn {
  background-image: url(../images/remove-share-user-btn.svg);
}

.modal-body .course-quiz-form {
  padding: 30px 0;
}

.course-quiz-form .form-group {
  margin-bottom: 1.5rem;
}

.course-quiz-form .form-group:nth-child(odd), .course-satifaction-form.satisfaction-survey-active .form-group {
  position: relative;
  padding-left: 0;
}

.course-quiz-form .form-group legend.col-form-legend, .course-satifaction-form.satisfaction-survey-active .form-group legend.col-form-legend {
  font-family: 'Roboto Condensed', 'Roboto',Helvetica,Arial,san-serif !important;
  font-weight: 600;
  font-size: 1rem;
}

.course-satifaction-form.satisfaction-survey-active .form-group legend.col-form-legend, .course-satifaction-form.satisfaction-survey-active .form-group .row {
  width: 50%;
  max-width: 50%;
}

.row.satisfaction-survey-options .col, .form-check.col label.form-check-label, .form-check.col label.form-check-label input.form-check-input {
  position: relative;
  display: block;
  margin: 0 auto;
  font-size: .75rem;
}

.course-satifaction-form.satisfaction-survey-active .form-group legend.col-form-legend {
  float: left;
}

@media only screen
and (max-width : 768px) {

  div.session-chapter-container button.minimize-maximize, ul.nav.files-list li a.nav-link small, ul#session-chapter-menu, ul#session-chapter-menu-select {
    display: none;
  }
  .course-details .player-details ul.course-sessions-list, .course-details .player-details ol.course-chapters-list, ul.course-sessions-list li {
    margin: 0 0;
  }
  div#session-chapter-mobile-menu {
    display: block;
  }
  div#session-chapter-mobile-menu ul#menu-select li.list-title {
    font-size: 1.5rem;
  }
  div#session-chapter-mobile-menu ul#menu-select li.list-title::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .174em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
  }
  ul#session-chapter-menu-select li, ul.course-sessions-list li.list-title, .course-details .player-details {
    padding: 0 0;
  }
  .course-details .player-details > div:first-child {
    padding: 0 15px;
  }
  .row.course-details-extra-content {
    padding-top: 75px;
  }
  .course-details-extra-content li a {
    font-size: 1rem;
  }
  div.files-list-attachments a.link, div.files-list-attachments a.file {
    background-image: none;
    padding: 15px;
  }

}
