@charset "UTF-8";

.course-details .title-nav {
  padding: 1.5rem 0 .51rem 0;
}

.course-details .title-nav h6 {
  margin-bottom: 0;
  font-size: .87rem;
}

.course-details .title-nav h1.course-details-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.course-details .title-nav > div, .course-details-extra-content > div {
  padding: 0 0;
}

.course-details .title-nav .nav-item {
  padding: 0 .99rem;
}

.course-details .title-nav svg {
  height: 1.62rem;
  width: auto;
}

.title-nav .favorite-icon-container svg path {
  fill: rgb(255,255,255);
  stroke: rgb(169,224,140);
  stroke-width: 4.2;
  stroke-miterlimit: 10;
  cursor: pointer;
}

.title-nav .favorite-icon-container svg path.selected {
  fill: rgb(169,224,140);
}

.title-nav .admin-menu-container button.admin-menu {
  height: 50px;
  top: -9px;
  position: relative;
}

.course-details .player-details, .course-details .player-details > div:first-child {
  padding: 0 0 4.74rem 0;
}

.course-details .player-details div.session-chapter-container.minimize {
  animation-name: minimize-width;
  animation-duration: 666ms;
  animation-fill-mode: forwards;
}

div.session-chapter-container.minimize ul.course-sessions-list {
  display: none;
}

@keyframes minimize-width {
  0% {
    max-width: 25%;
  }
  100% {
    max-width: 3%;
  }
}

.course-details .player-details div.session-chapter-container.maximize {
  animation-name: maximize-width;
  animation-duration: 666ms;
  animation-fill-mode: forwards;
}

div.session-chapter-container.maximize ul.course-sessions-list {
  display: block;
}

@keyframes maximize-width {
  0% {
    max-width: 3%;
  }
  100% {
    max-width: 25%;
  }
}

div.session-chapter-container button.minimize-maximize {
  height: 27px;
  width: 27px;
  position: absolute;
  right: 0;
  z-index: 1500;
  transform: rotate(0deg);
  background-image: url('../images/course-session-list-minimize-icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

div.session-chapter-container button.minimize-maximize.show {
  transform: rotate(180deg);
}

.button.group-view {
  padding-left: 3.9rem;
  background-image: url('../images/group-view-icon.svg');
  background-size: 33px;
  background-repeat: no-repeat;
  background-position: 30px 6px;
  font-size: 1.2rem;
  text-indent: 9px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.24);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.24);
}

.button.take-quiz {
  padding-left: 4.8rem;
  margin-top: 0;
  background-image: url(../images/course-quiz-icon.svg);
  background-size: 90px;
  background-repeat: no-repeat;
  background-position: left center;
  font-size: 1.5rem;
  text-indent: 9px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.24);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.24);
}

p.course-description {
  margin-bottom: 1rem;
  line-height: 1.5;
  font-size: .84rem;
}

.course-details .player-details ul.course-sessions-list, .course-details .player-details ol.course-chapters-list {
  padding: 0 0;
  list-style: none;
}

ul#session-chapter-menu-select li, ul.course-sessions-list li.list-title {
  margin-top: 0;
  padding: 0 24px;
  font-weight: 700;
}

div#session-chapter-mobile-menu {
  display: none;
}

ul.course-sessions-list li {
  margin: 6px 0 6px -24px;
}

ul.course-sessions-list li p.course-description {
  margin-top: 1.74rem;
}

ul.course-sessions-list li a, ol.course-chapters-list li a {
  display: block;
  font-size: .96rem;
  color: rgb(0,0,0);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

ul.course-sessions-list li a, ul.course-sessions-list li p.course-description {
  padding: 6px 24px;
}

ul.course-sessions-list li a:hover {
  background-color: rgb(236,239,238);
  font-weight: 600;
}

ul.course-sessions-list li a.active {
  font-weight: 600;
  color: rgb(255,255,255);
}

ul.course-sessions-list li a.active.light-grey {
  background-color: rgb(230,226,231);
}

ul.course-sessions-list li a.active.grey {
  background-color: rgb(200,200,200);
}

ul.course-sessions-list li a.active.green {
  background-color: rgb(204,239,157);
}

ul.course-sessions-list li a.active.yellow {
  background-color: rgb(243,217,81);
}

ul.course-sessions-list li a.active.light-blue {
  background-color: rgb(114,191,219);
}

ul.course-sessions-list li a.active.pink {
  background-color: rgb(227,128,177);
}

ul.course-sessions-list li a.active.blue {
  background-color: rgb(131,147,202);
}

ul.course-sessions-list li a.active.orange {
  background-color: rgb(232,159,95);
}

ul.course-sessions-list li a.complete {
  background-image: url('../images/course-completed-icon.svg');
  background-size: 21px;
  background-repeat: no-repeat;
  background-position: 3px 6px;
  opacity: .24;
}

ol.course-chapters-list li a:hover {
  background-color: transparent;
  font-weight: 600;
  color: rgb(0,0,0);
}

ol.course-chapters-list li a.active {
  background-color: rgb(236,239,238);
  font-weight: 600;
  color: rgb(0,0,0);
}

ol.course-chapters-list li {
  margin: 6px 0;
}

ol.course-chapters-list li a {
  padding: 6px 54px;
  background-image: url('../images/course-chapter-icon.svg');
  background-size: 36px;
  background-repeat: no-repeat;
  background-position: 24px -3px;
  font-size: .75rem;
}

ol.course-chapters-list li a.complete {
  padding: 6px 54px;
  background-image: url('../images/course-completed-icon.svg');
  background-size: 21px;
  background-repeat: no-repeat;
  background-position: 30px 3px;
  font-size: .75rem;
}

.row.course-details-content {
  padding: 1.2rem 0;
}

.row.course-details-content .badge-container img {
  height: auto;
  width: 6rem;
  display: inline-block;
}

.row.course-details-content h2.course-details-content-title {
  margin-top: .6rem;
  margin-bottom: 1.2rem;
  font-weight: 700;
  font-size: 2.1rem;
}

.row.course-details-content h2.course-details-content-title svg {
  height: 27px;
  width: auto;
  margin-left: 18px;
}

.row.course-details-content h2.course-details-content-title span.course-duration {
  font-size: .99rem;
}

.course-details-extra-content ul.nav li {
  margin-right: 9px;
}

.course-details-extra-content li a {
  padding: 15px 27px;
  font-size: 1.35rem;
  color: rgb(0,0,0);
}

.course-details-extra-content li a.active, .course-details-extra-content li a:hover {
  font-weight: 700;
  background-color: rgb(79,197,221);
  color: rgb(255,255,255);
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.24);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.24);
}

.tab-content {
  min-height: 75vh;
}

.tab-content .tab-pane {
  margin-bottom: 6rem;
}

.tab-pane .course-details-extra-content {
  padding: 3rem 0;
}

.tab-pane .course-details-extra-content > div {
  padding-right: 36px;
}

.course-details-extra-content .new-thread, .course-details-extra-content .reply-thread {
  padding-bottom: 6rem;
}

.card.course-card.thread-post {
  margin-top: 0;
  margin-bottom: 1rem;
}

.course-details-extra-content ul.nav.files-list {
  border-bottom: 0;
}

.course-details-extra-content ul.nav.files-list li a.nav-link {
  padding: 9px 18px;
  margin-bottom: .25rem;
  background-color: rgb(255,255,255);
  border: 0;
  border-radius: 0;
  font-size: 1rem;
  color: rgb(0,0,0);
}

ul.nav.files-list li a.nav-link > span {
  margin-right: 9px;
  color: rgb(0,0,0);
}

ul.nav.files-list li a.nav-link:hover > span, ul.nav.files-list li a.nav-link:focus > span, ul.nav.files-list li a.nav-link.active > span {
  font-weight: 700;
}

ul.nav.files-list li a.nav-link:hover, ul.nav.files-list li a.nav-link:focus, ul.nav.files-list li a.nav-link.active {
  -webkit-transition-duration: .15s;
  transition-duration: .15s;
}

.course-details-extra-content ul.nav.files-list li a.nav-link.disabled, .course-details-extra-content ul.nav.files-list li a.nav-link.disabled:hover, .course-details-extra-content ul.nav.files-list li a.nav-link.disabled:focus {
  opacity: 0.25;
}

div.files-list-attachments a {
  padding: .75rem 1.5rem .75rem 2.82rem;
  margin-bottom: 6px;
  display: block;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 6px center;
  background-size: 10%;
  text-align: left;
  color: rgb(0,0,0);
}

div.tab-content.files-list-attachments {
  min-height: 500px;
}

div.files-list-attachments a:hover, div.files-list-attachments a:focus {
  background-color: rgb(243,217,81);
}

div.files-list-attachments a.file {
  background-image: url('../images/file-attachment-icon.svg');
}

div.files-list-attachments a.link {
  background-image: url('../images/file-link-icon.svg');
}

div.course-quiz .modal-header, .modal-header.green  {
  background-color: rgb(161, 215, 132);
}

div.modal-header h3 {
  margin: 0 auto;
  font-weight: 700;
  font-size: 1.25rem;
  color: white;
}

div.course-quiz form.good-response-feedback  {
  background: transparent url('../images/satisfaction-very-good-icon.svg') no-repeat center top;
  background-size: 15%;
  padding-top: 5rem;
}

div.course-quiz form.bad-response-feedback  {
  background: transparent url('../images/satisfaction-bad-icon.svg') no-repeat center top;
  background-size: 15%;
  padding-top: 5rem;
}

div.course-quiz-form .form-check-label {
  padding-left: 0;
}

div.satisfaction-survey-active .form-check {
  background-size: cover;
  background-position: top center;
  background-color: transparent;
  background-repeat: no-repeat;
}

div.satisfaction-survey-active  .form-check.bad {
  background-image: url('../images/satisfaction-bad-icon.svg');
}

div.satisfaction-survey-active  .form-check.fair {
  background-image: url('../images/satisfaction-fair-icon.svg');
}

div.satisfaction-survey-active  .form-check.good {
  background-image: url('../images/satisfaction-good-icon.svg');
}

div.satisfaction-survey-active  .form-check.very-good {
  background-image: url('../images/satisfaction-very-good-icon.svg');
}

div.satisfaction-survey-active  .form-check label {
  padding: 2.5rem 0 0 .5rem;
  text-align: center;
}

.course-quiz-form legend, .satisfaction-survey-active legend {
  padding: 0 .5rem;
  font-size: 1rem;
  font-weight: 700;
  color: rgb(64, 85, 117);
}

aside#live-chat-container {
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
}

aside#live-chat-container .box-header {
  background-color: rgba(109, 140, 188, 1);
  padding: .25rem 0;
}

aside#live-chat-container a.dropdown-toggle.participants {
  width: 36px;
  height: 36px;
  padding-top: .35rem;
  background-color: white;
  display: inline-block;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  text-align: center;
  text-indent: 3px;
  font-weight: 700;
  color: rgb(0, 180, 228);
  white-space: nowrap;
}

aside#live-chat-container #live-chat-box {
  height: 20rem;
  max-height: 20rem;
  margin-bottom: 4rem;
  overflow-y: auto;
}

#live-chat-box p {
  width: 100%;
  padding: 5px 10px;
  border-bottom: thin solid rgb(236, 238, 239);
}

#live-chat-box p small {
  display: block;
  font-weight: 700;
}

aside#live-chat-container #live-chat-form {
  width: 100%;
  background-color: white;
  position: absolute;
  bottom: 0;
  padding-bottom: 15px;
}

div.getting-started-header {
  background-image: url('../images/getting-started-header-bg.jpg');
}

div.getting-started-header ul {
  padding-left: 1.25rem;
}

div.getting-started-header p {
  margin-bottom: .1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
}

div.getting-started-header section.getting-started-bar {
  background-color: rgba(64, 85, 117, 0.5);
  margin-top: 2.5rem;
}

section.getting-started-bar select {
  width: 80%;
  height: 2.5rem;
  background-size: 10%;
  padding: .5rem 2.75rem .5rem 1.5rem;
  border-color: transparent;
  outline: none;
  text-align: left;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

div.category-events div.video-thumb img {
  margin-bottom: 20px;
  cursor: pointer;
}

div.category-events div.video-thumb video {
  width: 100%;
  max-width: 100%;
  cursor: pointer;
}

@media only screen
and (max-width : 768px) {

  div.session-chapter-container button.minimize-maximize, ul.nav.files-list li a.nav-link small, ul#session-chapter-menu, ul#session-chapter-menu-select {
    display: none;
  }
  .course-details .player-details ul.course-sessions-list, .course-details .player-details ol.course-chapters-list, ul.course-sessions-list li {
    margin: 0 0;
  }
  div#session-chapter-mobile-menu {
    display: block;
  }
  div#session-chapter-mobile-menu ul#menu-select li.list-title {
    font-size: 1.5rem;
  }
  div#session-chapter-mobile-menu ul#menu-select li.list-title::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .174em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
  }
  ul#session-chapter-menu-select li, ul.course-sessions-list li.list-title, .course-details .player-details {
    padding: 0 0;
  }
  .course-details .player-details > div:first-child {
    padding: 0 15px;
  }
  .row.course-details-extra-content {
    padding-top: 75px;
  }
  .course-details-extra-content li a {
    font-size: 1rem;
  }
  div.files-list-attachments a.link, div.files-list-attachments a.file {
    background-image: none;
    padding: 15px;
  }

}
