@charset "UTF-8";

.error-message {
  padding: 1.65rem;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', 'Roboto',Helvetica,Arial,san-serif !important;
  font-weight: 600;
  color: rgb(223,0,36);
}

nav.navbar.dashboard-menu {

}

nav.navbar.dashboard-menu a.nav-item {
  padding: 1.2% 5.1%;
  text-transform: uppercase;
  font-size: calc(1vw - 6.6%);
  color: rgb(0,0,0);
}

nav.navbar.dashboard-menu a.nav-item.active, nav.navbar.dashboard-menu a.nav-item:hover, nav.navbar.dashboard-menu a.nav-item:focus {
  background-color: rgb(243,217,81);
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.12);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.12);
}

div.user-data {
  padding-top: 2.1rem;
  padding-bottom: 2.1rem;
}

div.user-data:first-child div.user-course-list-container {
  padding: 0 30px;
}

div.user-data .progress-bar-inline {
  display: flex;
}

div.user-data .progress-bar-inline .progress {
  width: calc(6% * 3);
  align-self: center;
  -webkit-align-self: center;
  margin-left: 6px;
}

.progress-bar-inline .progress .progress-bar {
  background-color: rgb(131,147,202);
}

div.user-course-list-container .user-course-list {
  margin-top: 2.74rem;
  padding: 0 0;
  list-style: none;
}

div.user-course-list-container .user-course-list li {
  margin-bottom: 2.48rem;
}

div.user-course-list-container .user-course-list a, div.user-course-list-container .user-course-list a small {
  display: block;
}

div.user-course-list-container .user-course-list a {
  font-weight: 600;
  line-height: 1.36;
}

div.user-course-list-container .user-course-list a:hover  {
  color: rgb(0,0,0);
}

div.user-course-list-container .user-course-list a small  {
  font-size: 80%;
}

div.user-data .carousel-container.carousel.slide {
  padding-right: 30px;
}

div.user-data div.carousel-container.carousel.slide + div.carousel-container.carousel.slide {
  margin-top: 48px;
}

div.user-data .carousel-container.carousel.slide > div.carousel-inner.dashboard-item-container {
  padding: 0 0;
}

div.dashboard-item-container div.dashboard-item .course-card-container > .card.course-card {
  height: calc(24vh + 7.5rem);
  margin-top: 1.35rem;
  margin-bottom: 1.35rem;
  overflow: auto;
}

.row.smart-skill-selected > .course-card-container {
  padding: 9px;
}

.row.smart-skill-selected > .course-card-container .card.course-card {
  height: calc(21vh + 8.7rem);
  margin-top: 9px;
  margin-bottom: 0;
  border: none;
  background-color: rgb(255,255,255);
}

.row.smart-skills-container > .course-card-container .card.course-card {
  height: calc(18vh + 7.5rem);
  margin-top: 9px;
  margin-bottom: 0;
  border: none;
}

.row.smart-skills-container > .course-card-container:nth-child(odd) .card.course-card {
  background-color: rgb(114,191,219);
}

.row.smart-skills-container > .course-card-container:nth-child(even) .card.course-card, .row.smart-skills-container > .course-card-container:nth-child(7n+7) .card.course-card, .row.smart-skills-container > .course-card-container:nth-child(9n+9) .card.course-card, .row.smart-skills-container > .course-card-container:nth-child(11n+11) .card.course-card {
  background-color: rgb(131,147,202);
}

.row.smart-skills-container > .course-card-container:nth-child(8n+8) .card.course-card, .row.smart-skills-container > .course-card-container:nth-child(10n+10) .card.course-card, .row.smart-skills-container > .course-card-container:nth-child(12n+12) .card.course-card {
  background-color: rgb(114,191,219);
}

.row.smart-skills-container > .course-card-container:nth-child(16n+16) .card.course-card {
  background-color: rgb(131,147,202);
}

.row.smart-skill-selected > .course-card-container .card.course-card > .card-body {
  padding: 1rem;
  line-height: 1.35;
  text-align: left;
  overflow: auto;
}

.row.smart-skill-selected > .course-card-container .card.course-card > .card-body a:hover {
  text-decoration: underline;
  color: rgb(114,191,219);
}

.row.smart-skill-selected > .course-card-container .card.course-card > .card-body p:nth-child(2) {
  margin-top: .24rem;
  font-size: 87%;
}

div.carousel-container.carousel.slide > a.carousel-control-prev {
  left: -30px;
}

div.carousel-container.carousel.slide > a.carousel-control-next {
  right: -15px;
}

div.carousel-container.carousel.slide a.carousel-control-prev svg, div.carousel-container.carousel.slide a.carousel-control-next svg {
  width: 72%;
  height: 72%;
}

div.dashboard-item > div.row > div.course-card-container {
  padding-left: 2.5px;
  padding-right: 2.5px;
}

div.dashboard-item div.card-header ul.nav.course-details li.nav-item, div.dashboard-item div.card-body h5 > a {
  color: rgb(0,0,0);
}

div.dashboard-item div.card-body {
  overflow-y: auto;
}

div.dashboard-item div.card-body h5 > a:hover {
  color: rgb(79,197,221);
}

div.dashboard-item div.card-footer.links {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 0;
  padding: .75rem .25rem 0 .25rem;
}

div.dashboard-item div.card-footer.links a {
  align-self: center;
  -webkit-align-self: center;
  flex: 1;
  line-height: 1.2;
  font-weight: 600;
  font-size: .85rem;
}

div.dashboard-item div.card-footer p, div.dashboard-item div.card-footer p > span {
  margin: 0 0;
  font-weight: 400;
  font-size: .75rem;
  color: rgb(0,0,0);
}

div.dashboard-item div.card-footer div.progress {
  height: 12px;
}

div.dashboard-item div.card-footer div.progress > div.progress-bar {
  background-color: rgb(79,197,221);
}

div.card.course-card.erc-card {
  border-radius: 0;
  border-bottom: 5px solid red;
}

div.card.course-card.erc-card a.erc-link {
  height: 42%;
  width: auto;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

div.card.course-card.erc-card div.card-body  {
  padding: 1.77rem 1.23rem;
  text-align: center;
}

div.card.course-card.erc-card div.card-body p > small  {
  color: rgb(79,197,221);
}

div.card.course-card.erc-card div.card-body h6 > a  {
  display: block;
  padding-top: .66rem;
  font-size: 1.35rem;
  color: rgb(0,0,0);
  cursor: pointer;
}

div.card-body > ul.standards-list, div.card-body > ul.standards-list li {
  padding: 0 0;
  list-style: none;
}

div.card-body > ul.standards-list li:first-child {
  color: rgb(0,0,0);
}

div.card-body > ul.standards-list li {
  display: block;
  margin-top: .12rem;
  line-height: 1.41;
  font-weight: 600;
  color: rgb(255,168,0);
}

form.profile-form {
  margin: 0 0;
  padding-bottom: 1.2rem;
}

form.profile-form .error-txt, form.profile-form .red-txt {
  color: rgb(223,0,36);
}

form.profile-form:last-child {
  padding-bottom: 3.75rem;
}

form.profile-form button, form.profile-form input, form.profile-form select {
  display: inline-block;
  background: none;
  border: none;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

div.row.account-card {
  padding: 2.7rem 1.2rem 2.1rem 1.2rem;
  border-radius: .51rem;
  background-color: rgb(255,255,255);
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.12);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.12);
}

div.row.account-card h6:first-child {
  margin-top: .75rem;
}

div.row.account-card .profile-photo {
  height: 124px;
  width: 124px;
  display: block;
  margin: 0 auto;
  background-color: rgb(60, 72, 82);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  border-radius: 50%;
}

div.form-group.form-row > div.col > label {
  font-size: .84rem;
}

form.profile-form div.form-group label.link {
  width: 100%;
  display: block;
  float: right;
  padding: 1.5rem 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .75rem;
}

form.profile-form div.form-group label.link:hover {
  text-decoration: underline;
}

form.profile-form button.submit, form.profile-form button.edit, form.profile-form button.membership {
  width: 100%;
  display: block;
  float: right;
  padding: .75rem 0;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .75rem;
  cursor: pointer;
}

form.profile-form button.edit {
  background: rgb(79,197,221);
}

form.profile-form button.submit {
  background: rgb(243,217,81);
}

form.profile-form button.membership {
  background-color: rgb(255,168,0);
  color: rgb(255,255,255);
}

form.profile-form input[type=file] {
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

form.profile-form select.form-control {
  margin-bottom: .5rem;
  padding-right: 2.4rem;
  background-color: rgb(236,239,238);
  background-image: linear-gradient(45deg, transparent 50%, rgb(0,0,0) 50%), linear-gradient(135deg, rgb(0,0,0) 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px);
  background-size: 6px 6px, 6px 6px;
  background-repeat: no-repeat;
  font-weight: 300;
  font-size: .99rem;
}

form.profile-form div.form-group.file-input::after {
  content: 'UPDATE PHOTO';
  display: block;
  padding: .75rem 1.2rem;
  background: rgb(243,217,81);
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  text-align: center;
  font-weight: 700;
  font-size: 60%;
  cursor: pointer;
}

form.profile-form .form-group input.form-control, form.profile-form .form-group select.form-control, form.profile-form .form-row input.form-control {
  background-color: rgb(236,239,238);
  font-weight: 300;
  font-size: .99rem;
}

form.profile-form .form-group input.form-control.error, form.profile-form .form-group select.form-control.error, form.profile-form .form-row input.form-control.error {
  background-color: rgb(223,0,36);
  color: rgb(255,255,255);
}

form.profile-form .form-group input.form-control:disabled, form.profile-form .form-group select.form-control:disabled {
  font-weight: 300;
  font-size: .99rem;
  background-color: transparent;
  color: rgb(0,0,0);
}

form.profile-form div.form-check {
  padding-left: 1.83rem;
}

form.profile-form div.form-check input.form-check-input {
  height: 18px;
  width: 18px;
  display: inline-block;
  position: relative;
  top: 3px;
  left: -6px;
  background-color: #fffff;
  border: 2px solid rgb(0,0,0);
  border-radius: 50px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

form.profile-form div.form-check input.form-check-input:checked {
  background-color: rgb(243,217,81);
  border-color: rgb(243,217,81);
}

form.profile-form div.form-check input.form-check-input:checked::before {
  position: absolute;
  top: -3px;
  left: 3px;
  content: '\02143';
  transform: rotate(40deg);
  font-size: 12px;
  font-weight: 500;
  color: rgb(0,0,0);
}

form.profile-form div.form-check label.form-check-label {
  cursor: pointer;
}

form.profile-form div.form-check label.form-check-label.disabled {
  text-decoration: line-through;
}

form.profile-form label.form-check-label input.form-check-input[disabled] {
  opacity: 0.24;
}

section#order-history div.order-item {
  padding: 21px 15px 3px 15px;
  border-bottom: 1px solid rgb(200,200,200);
}
